/* tailwind.css */
/* @import "../node_modules/normalize.css/normalize.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
     margin: 2%;
}

main {
     margin: 2%;
     min-height: 80vh;
}
 */

/* TODO: give everything a red border */

* {
     /* border: 1px solid red; */
     /* z-index: 0; */
}

body {
     display: flex;
     flex-direction: column;
}

.rootDiv {
     display: flex;
     flex-direction: column;
     justify-content: center;
     min-height: 100vh;
     min-width: 100%;
}


@media screen and (min-width: 1440px) {
     .appDiv {
          margin: 2% 18%;
     }
}

@media screen and (max-width: 1440px) {
     .appDiv {
          margin: 2% 5%;
     }
}

@media screen and (max-width: 500px) {
     * {
          font-size: 0.805rem;
     }

     .appDiv {
          margin: 2% 5%;
     }
}
